body::before{
    display: block;
    content: "";
    margin: auto;
}

.navbar-sep{
    border-bottom: 10px;
    border-color: beige;
}

@font-face {
    font-family: Allura;
    src: url(../fonts/Allura-Regular.ttf);
}

@media(min-width: 768px){
    .input-area{
        width: 50%
    }
}

.site-logo{
    font-family: Arista, Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    color: aliceblue;
}

.img-block{
    border: 0px;
}